.languageWrapper {
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:10rem;

}
.imageWrapper {
    display:flex;
    width:30vw;
    gap:2rem;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}
.imageBox:hover {
    background-color: #f94fe2;
    border-radius:20px;
}
.imageBox > img {
    width: 4rem;
    height:4rem;
    object-fit: contain;
}
.title {
    position:relative;
    font-size:50px;
    TEXT-ALIGN:center;
    margin-bottom:2rem;
    margin-top:20rem;
    z-index:2;
    user-select: none;
}
.langBar {
    background-color: #51059e;
    width:9rem;
    height:2rem;
    position:relative;
    top:-4.2rem;
    left:22px;
    z-index:1;
}
.gridWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px; /* space between rows */
  align-items: center;
}
.rowWrapper {
     display: flex;
  flex-direction: row;
  gap: 20px; /* space between rows */
  align-items: center;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 20px; /* space between items in the row */
  justify-content: center;
}

.imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius:0px;
    /* border-image: linear-gradient(to right, #de15b3 0%, #480453 100%) 1; */
    border:1.4px black solid;
    display:flex;
    justify-content: center;
    width:8rem;
    height:8rem;
    object-fit: contain;
    will-change: background-color;
    transition: background-color ease-in 300ms, border-radius 300ms ease-out;
}
.tripleColumn {
    visibility: hidden;
    position: absolute;
}

@media screen and (max-width:900px) {
    .rowWrapper {
        visibility: hidden;
        position:absolute;
    }
    .tripleColumn {
        position: relative;
        visibility: visible;
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:20px;
    }
    .tripleColumn > div {
        display:flex;
        flex-direction: column;
        gap:20px;
    }
}