* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.header {
  text-align: center;
  margin-bottom: 60px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.header-visible {
  opacity: 1;
  transform: translateY(0);
}

.header-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.header-subtitle {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
}

.typewriter {
    font-size:1.2rem;
}