* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 70px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  height:140vh;
  margin-top:20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.viewBtn {
    padding:1rem;
    text-align:center;
    background-color: transparent;
    border:1px solid white;
    border-radius:5px;
    margin-top:6rem;
    width:9rem;
    opacity:0;
    transition: opacity 1s ease-out, transform 1s ease-out, background-color .5s ease-in, color ease-in .5s;
    transform:translateY(-30px);
    font-weight:600;
}
.viewBtn-visible:hover {
    background-color:white;
    color:#6a1cb8;
}
.viewBtn-visible {
    opacity:1;
    transform:translateY(0);
    animation:hover 3000ms ease-in-out infinite;
}
.header-visible {
  opacity: 1;
  transform: translateY(0);
}

.header-title {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.header-subtitle {
  font-size: 2px;
  color: rgba(255, 255, 255, 0.9);
}

.typewriter {
    font-size:1.5rem;
}
.arrowLogo {
    width:2rem;
    padding-top:.5rem;
    animation:hover 3000ms ease-in-out infinite;
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform:translateY(-30px);
    opacity:0;
}
.arrowLogo-visible {
    opacity:1;
    transform:translateY(0px)
}
@keyframes hover {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {   
        transform: translateY(-5px);
    }
}                                       